@import './src/scss/components/index';
@import './src/scss/mixins/index';

.ps_cta-button {
  @include mn_button;
}

.mn_body {
  z-index: 1;
  background-color: $mn_color-white;
  transition: transform 0.3s linear;
  position: relative;
  width: 100%;
  min-height: 100vh;
  transform: translateZ(0);

  &.mn_is-onscreen {
    transform: translateX(-18em);

    @include mn_mq-gte-small {
      transform: translateX(-20em);
    }
  }

  .no-js & {
    @include mn_mq-gte-large {
      width: calc(100% - 20em);
      transform: translateX(0);
    }
  }
}

.ps_body,
body {
  background-color: $mn_color-white;
}